@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
    margin-bottom: 100px;
}

header {
    display: flex;
    justify-content: center;
    height: 70px;
    background: #0A3871;
    text-align: center;
}

#logo {
    width: 31.09px;
    height: 48px;
    padding: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.conteudo-entrada {
    margin: 0 0 0 5%;
    width: 55%;
}

.conteudo-entrada textarea {
    width: 100%;
    height: 60%;
    min-height: 400px;
    outline: none;
    font-size: 32px;
    color: #0A3871;
    border: none;
    background: #F3F5FC;
    resize: none;
    margin-top: 30px;
}

.conteudo-entrada textarea::placeholder {
    color: #0A3871;
}

.conteudo-entrada img {
    width: 16px;
    height: 16px;
}

.conteudo-entrada p {
    margin-bottom: 16px;
    font-size: 12px;
    color: #495057;
}

#botao-acao {
    width: 45%;
    height: 67px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    border: none;
    background: #0A3871;
    color: #FFFFFF;
    font-size: 16px;
}

#botao-acao:hover {
    cursor: pointer;
    border: 1px solid;
    border-color: #0A3871;
    background: #FFFFFF;
    color: #0A3871;
    transition: 0.3s all;
}

.hide {
    display: none;
}

#conteudo-saida {
    text-align: center;
    width: 30%;
    height: 100%;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin: 2%;
}

#conteudo-saida textarea {
    width: 100%;
    height: 100%;
    min-height: 400px;
    outline: none;
    font-size: 32px;
    color: #0A3871;
    border: none;
    resize: none;
}

#botao-copiar {
    width: 85%;
    height: 67px;
    margin-top: 15px;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    border: none;
    background: #0A3871;
    color: #FFFFFF;
    font-size: 16px;
}

#botao-copiar:hover {
    cursor: pointer;
    border: 1px solid;
    border-color: #0A3871;
    background: #FFFFFF;
    color: #0A3871;
    transition: 0.3s all;
}

footer {
    justify-content: center;
    height: 60px;
    width: 100%;
    background: #0A3871;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.svg-white {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(296deg) brightness(104%) contrast(101%);
    width: 30px;
    padding: 10px;
}